<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <h1>This is About page</h1>
    <p><strong>About Me : </strong>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta iste sit et ad, magnam exercitationem illum laudantium officiis neque qui, unde, maiores ex tempore repudiandae saepe porro ea mollitia culpa eligendi? Aliquid suscipit modi voluptas corrupti at a quos adipisci!</p>
</body>
</html>