<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><a href="/">Back</a></h2>
    <h1>This is Error Page </h1>
    <p style="color: red;background-color: black;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laborum, quis enim quisquam laudantium, quia facilis maxime consequatur quo voluptatem dolor unde culpa accusamus debitis reprehenderit dicta? Dignissimos, rem eveniet!</p>
</body>
</html>