<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <h1>This is Home page</h1>
    <h2>Home Details : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error inventore repudiandae rerum amet incidunt aspernatur cupiditate sed id accusantium libero. Nisi commodi similique ad dolore, amet iure illum ex quia!</h2>
</body>
</html>